@import url(base.css);
body,html{
    width: 100%;height: 100%;
}
.box,.row{
    width: 100%;height: 100%;
}
.left,.right{
    height: 100%;overflow: auto;
}
.left{
    border-right: 1px solid #ccc;
}